a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
@font-face {
        font-family: "font1black";
        src: url(../css/fonts/Montserrat/Montserrat-Black.ttf);
 }
 
 @font-face {
        font-family: "font1bold";
        src: url(../css/fonts/Montserrat/Montserrat-Bold.ttf);
        font-weight: bold;
 }

 @font-face {
        font-family: "playfair";
        src: url(../css/fonts/playfair-display/PlayfairDisplay-Bold.otf);
        font-weight: bold;
 }

 @font-face {
     font-family: "font1medium";
     src: url(../css/fonts/Montserrat/Montserrat-Medium.ttf);
     font-weight: medium;
 }
html{
        font-size: 16px;
}
nav{
        position: fixed;
        width: 100%;
        height: 100px;
        background-color:white;
        z-index: 100;
    
}
nav a{
        text-decoration: none;
        list-style-type: none;
        font-family: font1bold;
        font-weight: bold;
        color:blue;
    
    
}
nav ul{
        margin-left: 790px;
        margin-right: 10px;
    
}
nav li{
        display: block;
        margin-left: 105px;
        margin-top: 40px;
        float: left;
}

#logo{
        margin-top: 22px;
        margin-left: 300px;
        float: left;
        height: 56px;
        width: 56px;
}


#mainfoto {
        position: static;
        width: 100%;
        height: 700px;
        overflow: hidden;
        color: blue;
        margin-top: 100px;
 }
 
 .container {
        position: relative;
        text-align: center;
        color: black;
        font-size: 4em;
 }
 
 .centered {
        position: absolute;
        top: 30%;
        left: 48%;
        transform: translate(-50%, -50%);
    
 }

 .clear{
        clear: both;
}

.centered h1 {
        text-align: left;
        text-decoration: none;
        list-style-type: none;
        line-height: 80px;
        font-family: playfair;
        font-weight: bold;
        color:white;
}

.heroText{
    position: absolute;
        top: 55%;
        left: 42%;
        transform: translate(-50%, -50%);
}
.heroText p{
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    font-family: font1medium;
    font-weight: medium;
    font-size: 0.3em;
    line-height: 30px;
    color:white;
}

.containerAccordion{
        display: block;
        text-align: left;
        width: 1150px;
        margin: 0 auto;
        background:white;
        padding-top:50px; 
}

.ui-accordion-header{
        display: block;
        border: 3px solid gray;
        padding: 20px;
        width: 1150px;
        text-align: left;
}
.ui-accordion-header-active{
        color:blue;
        border-color:  blue;
        padding: 20px;
        width: 1150px;
        max-height: 200px;
        text-align: left;
   
} 

.ui-accordion-content{
        
        text-align: center;
}

.support{
    
    margin: 0 auto;
    width: 1150px;
    height: 800px;
    background-color: white;
        font-size: 1em;
        text-decoration: none;
        list-style-type: none;
        font-family: font1bold;
        font-weight: bold;
        color:blue;
    margin-top: 114px;  
 
}

.support h1{
    margin-top: 50px;
    text-align: left;
    text-decoration: none;
    list-style-type: none;
    font-family: playfair;
    font-weight: bold;
    font-size: 4em;
    color:blue;

}

.column{
display: block;
}

.row1 {
    display: block;
}

.row2{
    display: block;
}

.row1 #image{
    margin: 0 auto;
    float: left;
    margin: 100px 400px 0px 0px;
}

.row2 #image {
    margin: 0 auto;
    float: left;
    margin: 100px 400px 0px 0px;
}

footer{
    background: black;
    height: 100px;
    width: 100%;
}

.BottomImage{
    position: relative;
        text-align: center;
        color: black;
        font-size: 4em;
}

.BottomImage h1{
        text-align: center;
        text-decoration: none;
        list-style-type: none;
        line-height: 90px;
        font-family: playfair;
        font-weight: bold;
        color:white;
        position: absolute;
        top: 43%;
        left: 48%;
        transform: translate(-50%, -50%);
}

.BottomImage #imageNicole{
    position: static;
        width: 100%;
        height: 600px;
        overflow: hidden;
        margin-top: 100px;
        margin-bottom: -12px;
}

.BottomImage p{
    text-align: center;
        font-size: 0.3em;
        text-decoration: none;
        list-style-type: none;
        line-height: 80px;
        font-family: font1medium;
        font-weight: medium;
        color:white;
        position: absolute;
        top: 70%;
        left: 48%;
        transform: translate(-50%, -50%);
}

.BottomImage #buttonKom{
    position: absolute;
        top: 80%;
        left: 48%;
        transform: translate(-50%, -50%);
}






